* {
  font-family: "Lato", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-class {
  padding: 120px 100px 20px 100px;
  background-color: #2c1f53;
}

/* floating button css start */
.floating-button {
  background: #2c1f53;
  position: absolute;
  z-index: 2;
  position: fixed;
  top: 105px;
}

/* floating button css end */

/* Sidebar css start */
.logo {
  background-color: #2c1f53;
  border: none;
}

.logo-img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin: 20px;
  cursor: pointer;
}

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
/* Sidebar css end */

/* .ant-layout{
  background-color: #2C1F53 !important;
} */

.site-layout-background {
  background-color: #2c1f53 !important;
  padding: 0 !important;
}

.ant-layout-header {
  background-color: #261b48 !important;
  height: 80px !important;
}

.ant-layout-sider-trigger {
  background-color: #2c1f53 !important;
  /* display: none; */
}

.header-btn {
  padding: 0px 30px;
}

/* .ant-layout-content{
  margin: 0 !important;
} */

/* maingrid css start */
.maingrid-button {
  margin-top: 20px;
  padding: 14px 30px;
  border-radius: 10px;
  /* border: 1px solid #F9A802; */
  background-color: #f9a802;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.maingrid-button:hover {
  color: #f9a802;
  background-color: #fff;
  transition: all 550ms ease-in-out;
}

.maingrid-img {
  /* width:500px; */
  height: 500px;
  object-fit: contain;
  width: 100%;
}

/* maingrid css end */

/* second-grid css start */
.second-grid {
  margin: 20px 0 80px 0;
}

.grid-heading {
  font-size: 50px !important;
}

.second-grid-img {
  height: 100px;
  width: 100px;
}

.second-grid-text {
  color: #fff;
  margin: 80px 40px;
}

.grid-para {
  color: #fff !important;
  height: 90px;
}

/* second-grid css end */

/* checklist css start */
.checklist-section {
  background-color: #2c1f53;
  /* padding: 20px 70px; */
}

.checklist-heading {
  color: #fff !important;
}

.checklist-items {
  color: #fff !important;
}

.checklist-checks {
  margin-right: 14px;
  object-fit: contain;
}
/* checklist css end */

/* sales promotion css start*/
.sales-promotion-class {
  padding: 20px 100px;
  background-color: #2c1f53;
}

.sales-promotion {
  background-color: #2c1f53;
  padding: 100px 0;
  /* padding: 20px 70px; */
}

.sales-box {
  background-color: #3f2d74;
  width: 291px;
  height: 291px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  /* padding: 0 0 40px 0; */
}

.sales-box:hover {
  background-color: #1f44ab;
  transition: all 1s ease;
}

.sales-inner-box {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  background: rgba(0, 117, 255, 0.3);
  margin: -10px 30px 50px 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}
/* sales promotion css end*/

.algorithm-heading {
  color: #fff !important;
  font-size: 50px !important;
  margin: 100px 0 120px 0 !important;
  font-weight: normal !important;
}

/* algorithm css start */
.algorithm-section {
  background-color: #2c1f53;
  /* padding: 20px 70px; */
}

.algo-img {
  height: 495px;
  width: 600px;
}

.algo-step {
  font-size: 30px !important;
}

.algo-step-name {
  font-size: 38px !important;
}

.algo-step-para {
  font-size: 25px !important;
}
/* algorithm css end */

/* footer start */
.footer-links-box {
  text-align: left;
  padding: 0 30px;
}

.footer-links li {
  text-decoration: none;
  list-style-type: none;
}

.footer-links a {
  color: #2c1f53;
}

.ant-layout-footer {
  background-color: #fff !important;
}
/* footer end */

/* ques comp start */

.ques-comp {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px 100px;
}

.ques-heading {
  margin: 20px 200px;
  text-align: center;
  color: #fff !important;
  font-size: 58px !important;
}

.ques-para {
  margin: 40px 0 40px 0 !important;
  color: #fff !important;
  text-align: center;
  font-weight: normal !important;
  font-size: 36px !important;
}

.ques-btn {
  padding: 15px 50px;
  margin: auto;
  display: block;
  border-radius: 10px;
  border: none;
  background-color: #f9a802;
  color: #fff;
  cursor: pointer;
}

.ques-btn:hover {
  background-color: #fff;
  color: #f9a802;
  transition: all 550ms ease-in-out;
}
/* ques comp end */

/* third grid css start */

.third-grid {
  margin: 50px 0;
}

.titles {
  margin-right: 50px;
}

.titles-reverse{
  margin-left: 50px;
}

.titles-not-reverse{
  margin-right: 50px;
}

.third-grid-title {
  font-size: 50px !important;
  color: #fff !important;
}

.third-grid-sub-title {
  font-size: 24px;
  font-weight: normal;
  color: #fff !important;
}

.third-grid-img {
  width: 650px;
  height: 520px;
  object-fit: contain;
}
/* third grid css end */

/* banner class start */
.banner-btn {
  padding: 10px 30px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #f9a802;
  color: #fff;
}

.banner-btn:hover {
  background-color: #fff;
  color: #f9a802;
  transition: all 550ms ease-in-out;
}
/* banner class end */

/* integrations css start */

.integrations-heading {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 200px 450px 70px 450px !important;
  text-align: center;
}

.integrations-heading-title {
  font-size: 55px;
  color: #fff !important;
}

/* integrations css end */

/* tab container css start */
.tabs-container {
  /* background: #261B48 !important; */
}
.tabs-container p {
  margin: 0;
}
.tabs-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}
.tabs-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  padding: 16px;
  /* color: #fff; */
  background: #fff;
}
.tabs-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none !important;
}
.tabs-container > .ant-tabs-card .ant-tabs-tab,
[data-theme="compact"] .tabs-container > .ant-tabs-card .ant-tabs-tab {
  background: transparent !important;
  border-color: transparent !important;
}
.tabs-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme="compact"] .tabs-container > .ant-tabs-card .ant-tabs-tab-active {
  background: #fff !important;
  border-color: #fff !important;
}
#components-tabs-demo-card-top .code-box-demo {
  padding: 24px;
  overflow: hidden;
  background: #f5f5f5;
}
[data-theme="compact"] .tabs-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -8px;
}
[data-theme="dark"] .tabs-container > .ant-tabs-card .ant-tabs-tab {
  background: transparent;
  border-color: transparent;
}
[data-theme="dark"] #components-tabs-demo-card-top .code-box-demo {
  background: #000;
}
[data-theme="dark"]
  .tabs-container
  > .ant-tabs-card
  .ant-tabs-content
  > .ant-tabs-tabpane {
  background: #141414;
  /* color: #fff; */
}
[data-theme="dark"] .tabs-container > .ant-tabs-card .ant-tabs-tab-active {
  background: #141414;
  border-color: #141414;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab {
  border-radius: 5px 5px 0 0 !important;
}

.ant-drawer-content {
  border-radius: 20px 0 0 20px !important;
}

.ant-tabs-nav-wrap {
  padding-top: 16px !important;
  /* overflow: visible !important; */
}

.ant-tabs-content {
  box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.1) !important;
}

.ant-tabs-tab.ant-tabs-tab-active {
  box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.1) !important;
}
/* tab container css end */

/* prepaid card section css start */
/* maingrid css start */
.section-button {
  padding: 14px 30px;
  border-radius: 10px;
  /* border: 1px solid #F9A802; */
  background-color: #f9a802;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.section-button:hover {
  color: #f9a802;
  background-color: #fff;
  transition: all 550ms ease-in-out;
}

.section-three {
  margin: 40px 0;
}

.section-three-heading {
  color: #fff !important;
  font-size: 64px !important;
  text-align: center;
}

.section-three-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 20px;
}

.section-three-row {
  padding: 50px 0;
}

.btn-one {
  margin: 0 40px 0 0;
  padding: 8px 34px;
  font-size: 24px;
  background-color: #f9a802;
  color: #fff;
  border-radius: 10px;
  border: 4px solid #f9a802;
  cursor: pointer;
}

.btn-one:hover {
  color: #f9a802;
  background-color: #fff !important;
  transition: all 1s ease;
  border: 4px solid #fff;
}

.btn-two {
  margin: 0 40px 0 0;
  padding: 8px 34px;
  font-size: 24px;
  background-color: #2c1f53;
  color: #fff;
  border-radius: 10px;
  border: 4px solid #f9a802;
  cursor: pointer;
}

.btn-two:hover {
  color: #f9a802;
  background-color: #fff;
  transition: all 1s ease;
}
/* prepaid card section css end */

/* customers layout css start */

.comp-two {
  padding: 20px 100px;
}

.comp-two-img {
  width: 625px;
  height: 495px;
  object-fit: contain;
}

.text-box {
  margin: 0px 60px;
}

.comp-two-text {
  font-size: 50px;
  line-height: normal;
}

.comp-two-sub-text {
  font-size: 25px;
  margin: 10px;
  color: #261b48;
}

.comp-three-heading {
  font-size: 64px;
  font-weight: bold;
  color: #fff !important;
  padding: 20px 0;
}

.comp-three-card-heading {
  font-size: 24px;
}

/* customers layout css end */

/* pricing layout css start */

.pricing-layout {
  background-color: #2c1f53;
  padding: 80px 100px 100px 100px;
}

.pricing-layout-heading {
  color: #fff !important;
  text-align: center;
  font-size: 64px !important;
}

.pricing-box {
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 0;
}

.box-heading {
  font-size: 36px;
}

/* .box-details{
  height: 200px;
} */

.box-price {
  font-size: 36px !important;
  color: #3b34ab !important;
  font-weight: normal !important;
}

.box-btn {
  margin-top: 20px;
  padding: 8px 30px;
  background-color: #c3c0ee;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.box-btn:hover {
  background-color: #3b34ab;
  color: #fff;
  transition: all 550s ease;
}

.box-list {
  font-size: 18px;
  margin: 20px 0;
  padding: 10px 40px;
  text-align: left;
}

/* pricing layout css end */

/* tnc layout css start */
.last-heading {
  font-size: 72px !important;
  color: #f9a802 !important;
  text-align: center;
  padding: 70px;
  background-color: rgba(255, 255, 255, 0.1);
}

/* tnc layout css end */

/* sidenav layout css start */

.ant-layout-sider-children {
  position: fixed;
  width: 200px;
}

.sidenav_links {
  cursor: pointer;
}

.sidenav_list {
  list-style: none;
  padding: 20px 30px;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}

.list_icon {
  font-size: 20px;
  font-weight: bold;
}

.sn-icons {
  width: 32px;
  height: 32px;
  object-fit: contain;
  margin: 10px 20px 10px 10px;
}

.sn-box-links {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.user-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
/* sidenav layout css end */

/* help support layout css start */
.support-heading {
  font-size: 72px !important;
  color: #fff !important;
  text-align: center;
  padding: 20px 70px 30px 70px;
  /* background-color: rgba(255, 255, 255, 0.1); */
}
/* help support layout css end */

/* Responsive css start */
@media screen and (min-width: 320px) and (max-width: 425px) {
  .home-class {
    padding: 120px 30px 20px 30px;
    background-color: #2c1f53;
  }

  .checklist-section {
  }

  .checklist-heading {
    font-size: 22px !important;
    text-align: center;
  }

  .checklist-items {
    font-size: 18px !important;
  }

  .checklist-checks {
    margin-right: 14px;
    object-fit: contain;
    width: 20px;
    height: 20px;
  }

  .algorithm-heading {
    color: #fff !important;
    font-size: 22px !important;
    margin: 50px 0 60px 0 !important;
    font-weight: normal !important;
  }

  .algo-img {
    align-items: center;
    width: 300px;
    height: 245px;
    object-fit: contain;
  }

  .algo-step {
    font-size: 20px !important;
  }
  .algo-step-name {
    font-size: 24px !important;
  }
  .algo-step-para {
    font-size: 15px !important;
  }
  .sales-promotion {
    background-color: #2c1f53;
    padding: 50px 0;
    /* padding: 20px 70px; */
  }

  .sales-box {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    /* padding: 0 0 40px 0; */
    margin: 20px 10px 20px 10px;
  }

  .sales-inner-box {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin: 0px 30px 30px 30px;
  }

  .inner-box-img {
    width: 60px !important;
    height: 60px !important;
    object-fit: contain !important;
  }

  .sales-box-text {
    font-size: 12px !important;
  }

  .sales-promotion-heading {
    font-size: 22px !important;
    text-align: center;
  }

  .grid-heading {
    font-size: 22px !important;
  }

  .second-grid {
    margin: 20px 50px 60px 50px;
  }

  .second-grid-img {
    height: 80px;
    width: 80px;
  }

  .second-grid-text {
    margin: 20px 20px 40px 20px;
  }

  .grid-para {
    height: 60px;
    font-size: 20px !important;
  }

  .grid-sub-para {
    font-size: 16px !important;
    margin-bottom: 70px !important;
    padding: 0 20px;
  }

  .ques-comp {
    padding: 60px 30px 20px;
  }

  .ques-heading {
    margin: 20px 0 30px 0 !important;
    font-size: 25px !important;
  }

  .ques-para {
    margin: 20px 0 30px 0 !important;
    font-size: 16px !important;
  }

  .ques-btn {
    padding: 8px 20px;
  }

  .sales-promotion-class {
    padding: 20px;
    background-color: #2c1f53;
  }
  .maingrid-button {
    margin-top: 20px;
    padding: 7px 15px;
  }

  .maingrid-img {
    /* width:500px; */
    margin-top: 40px;
    height: 200px;
    width: 100%;
    text-align: left;
  }

  .maingrid-section {
    margin: 140px 0 40px 0;
  }

  .main-grid-heading {
    font-size: 22px !important;
    margin-bottom: 20px !important;
  }

  .main-grid-para {
    font-size: 12px !important;
  }
  .third-grid {
    margin: 50px 0;
  }

  .titles {
    margin-right: 0px !important;
  }

  .titles-reverse{
    margin-left: 0px;
  }

  .titles-not-reverse{
    margin-right: 0px;
  }

  .third-grid-title {
    font-size: 22px !important;
    color: #fff !important;
  }

  .third-grid-sub-title {
    font-size: 12px !important;
    font-weight: normal;
    color: #fff !important;
  }

  .third-grid-img {
    width: 300px;
    height: 200px;
    object-fit: contain;
  }

  .website-logo {
    margin-top: 14px;
    width: 112px;
    height: 40px;
    object-fit: contain;
  }
  .ant-layout-footer {
    padding: 12px 25px !important;
  }
  .footer-links-box {
    padding: 20px 4px;
  }
  .floating-button {
    top: 168px;
  }

  .pricing-layout {
    background-color: #2c1f53;
    padding: 40px 50px 50px 50px;
  }

  .pricing-layout-heading {
    color: #fff !important;
    text-align: center;
    font-size: 32px !important;
  }

  .pricing-box {
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 0;
  }

  .box-heading {
    font-size: 36px;
  }

  /* .box-details{
  height: 200px;
} */

  .box-price {
    font-size: 36px !important;
    color: #3b34ab !important;
    font-weight: normal !important;
  }

  .box-btn {
    margin-top: 20px;
    padding: 8px 30px;
    background-color: #c3c0ee;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
  }

  .box-list {
    font-size: 18px;
    margin: 20px 0;
    padding: 10px 60px 30px 40px;
    text-align: left;
    /* border-bottom: 20px solid #2c1f53 !important; */
  }

  .integrations-heading {
    padding: 270px 30px 70px 30px !important;
  }

  .integrations-heading-title {
    font-size: 25px !important;
  }
}
/* Responsive css end */
